.local__info
  .local__info__yohaku
  .local__info__title
    お知らせ
  .local__info__text
    .local__info__text--left
      .time
      2020/5/10：
      .title
      XXXXXXXXXXXXXXXXX
      .text
      ZZZZZZZZZZZZZZZZZZ