.local__info
  .local__info__yohaku
  .local__info__title
    お知らせ
  .local__info__text
    .local__info__text--left
      .time
      2020/5/10
      .title
      まりなの誕生日
    .local__info__text--right
      弊社広報担当の23歳の誕生日でした！！