.local__com
  .local__com__yohaku
  .local__com__title
    .text
      会社概要
  .local__com__text
    .local__com__text--left
      会社情報
      %br
      <本社所在地>
      %br
      〒105-8518 東京都港区芝大門1-13-9
      %br
      %br
      <設立年月>
      %br
      1939(昭和14)年6月
      %br
      %br
      <社長>
      %br
      代表取締役社長 森川 宏平（もりかわ こうへい）
      %br
    .local__com__text--right
      主要営業品目
      %br
      <石油化学>
      %br
      オレフィン（エチレン、プロピレン）、
      有機化学品（酢酸ビニルモノマー、酢酸エチル、アリルアルコール）、
      合成樹脂（ポリプロピレン）
      %br
      %br
      <化学品>
      %br
      機能性化学品（合成樹脂エマルジョン、不飽和ポリエステル樹脂）、
      産業ガス（液化炭酸ガス、ドライアイス、酸素、窒素、水素）、
      基礎化学品（液化アンモニア、アクリロニトリル、アミノ酸、
      苛性ソーダ、塩素、合成ゴム）、情報電子化学品（電子材料用
      高純度ガス・機能薬品）、コーティング材
      %br
      %br
      <エレクトロニクス>
      %br
      ハードディスク、SiCエピタキシャルウェハー、
      化合物半導体(LED)、リチウムイオン電池材料
      %br
      %br
      <無機>
      %br
      黒鉛電極、セラミックス（アルミナ、研削研磨材）、
      ファインセラミックス
      %br
      %br
      <アルミニウム>
      %br
      コンデンサー用高純度箔、レーザービームプリンター用
      シリンダー、押出品、鍛造品、熱交換器、飲料用缶
