.local__about
  .local__about__yohaku
  .local__about__title
    ABOUT
  .local__about__message1
    「いつでも、
    .image
  .local__about__message2
    どこでも、
    .image
  .local__about__message3
    ベストな自分であるために、
    .image
  .local__about__message4
    .image
    USUKIを使って欲しい。
    %br
    美しくあるのに性別は関係ない
    %br
    毎日に変化を
    %br
    必要な物がここにある
  .local__about__text
    .local__about__text__cover
      外見が中身の一番外側なら、
      外から中を変えて行こう。

    
  
