// レイアウトテンプレート使用HTML/HAMLはapplication.html.hamlに記述
.main__header{
  background-color: rgba(25, 32, 24, 0.288);
  font-size: 1em;
  height: 80px;
  width: 100%;
  padding: 30px 50px;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;

  &left__about{
    background-color: gray;
    height: 30px;
    width: 50px;
  }
  &left__product{
    background-color: gray;
    height: 30px;
    width: 50px;
  }
  &__center{
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    height: 25px;
    width: 70px;
    text-align: center;
    .name__btn{
      color: white;
      text-decoration: none;
    }
  }
  &right__info{
    background-color: gray;
    height: 30px;
    width: 100%;
  }
  &right__com{
    background-color: gray;
    height: 30px;
    width: 100%;
  }
  .contents__btn{
    color: white;
    text-decoration: none;
  }
  .contents__btn:hover {
    text-decoration: underline;
  }
}
