.local__product
  .local__product__yohaku
  .local__product__title
    商品
  .local__product__searchbar
    インクリメンタルサーチ
  .local__product__lineups
    .local__product__lineups__lineup
      = image_tag "img_ken.jpg", class: 'lineup__image' 
      .name
        ケンゴリラ
      .price
        応談
      .seinou
        全身が柔らかい体毛で覆われている小型獣である。

    .local__product__lineups__lineup
      = image_tag "img_ken.jpg", class: 'lineup__image', alt:"NO IMAGE"
      .name
        浩志
      .price
        0
      .seinou
        稲葉っぽさが微塵もないが、名前の由来はB'zから。

    .local__product__lineups__lineup
      = image_tag "img_ken.jpg", class: 'lineup__image', alt:"NO IMAGE"
      .name
        雑用長
      .price
        各自治体の最低賃金
      .seinou
        しん。

    .local__product__lineups__lineup
      = image_tag "img_com.jpg", class: 'lineup__image', alt:"NO IMAGE"
      .name
        雑用長
      .price
        各自治体の最低賃金
      .seinou
        しん。
