-# <メイン>
.allall
  .allall__yohaku
  .allall__top__content
    .allall__top__content__text
      変わりたい貴方へ
      %br
      届けたいものがある
      %br
      自由に表現を
    
  .allall__about
    .allall__about__text
      今の貴方に必要な物を
      %br
      = link_to abouts_path, class: "link__btn" do
        ABOUT
  .allall__product
    .allall__product__text
      貴方の肌に合う物を
      %br
      = link_to products_path, class: "link__btn" do
        PRODUCT
  .allall__info
    .allall__info__text
      最新情報はこちらから
      %br
      = link_to informations_path, class: "link__btn" do
        INFORMATION
  .allall__com
    .allall__com__image
    .allall__com__text
      会社概要
      %br
      = link_to companys_path, class: "link__btn" do
        COMPANY